.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/README_cache/
inst/doc
/doc/
/Meta/
docs

# Compiled build artifacts
*.o
*.so
*.dll
*.dylib
src/*.o
src/*.so
src/*.dll
src/*.dylib
Rplots.pdf
tests/testthat/Rplots.pdf
tests/vdiffr.Rout.fail
